//////////// TIPOGRAFIAS ////////////////
$type-title: 'Anton', sans serif;
$type-section: 'Helvetica', sans serif;

////////////// COLORES ////////////////
$blanco: #FFFFFF;
$sky-blue:#3A96D8;
$grey:#767676;
$light-Grey:#e4e4e4;
$negro:#000;

//////////// MARGENES ///////////////
$ancho:960px;
$margen-derecho:200px;
$margen-izquierdo: 200px;